.container{
    color: var(--white);
    padding-top: 40px;
}

.title{
    font-size: 50px;
}

.content{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 50px;
}

.img{
    height: calc(100vh - 136px);
    width: auto;
}

.sliderContainer{
    margin-top: 50px;
}

.titleSlider{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
}