.container{
    color: var(--white);
    padding-top: 20px;
}

.title{
    font-size: 50px;
}

.content{
    display: grid;
    grid-template-columns: minmax(400px, 900px) auto;
    justify-content: space-between;
    grid-column-gap: 50px;
}

.img{
    height: calc(100vh - 116px);
    width: auto;
}

.sliderContainer{
    margin-top: 10px;
}

.titleSlider{
    font-size: 25px;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination{
    display: flex;
    gap: 30px;
    justify-content: center;
}