.container{
    color: var(--white);
}

.img{
    width: 400px;
    height: auto;
}

.img img{
    width: 400px;
    height: 500px;
}

.rating{
    font-weight: 600;
    font-size: 40px;
}

.infoFilm{
    display: flex;
    gap: 20px;
}