.main{
    min-height: calc(100vh - 38px);
    background-color: var(--black);
}

.title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--white);
    margin-bottom: 40px;
}